web: python3 manage.py collectstatic --noinput --verbosity 3 && gunicorn lcpe.wsgi:application --bind 0.0.0.0:$PORT --log-file -
worker: celery -A lcpe worker --loglevel=info
beat: celery -A lcpe beat --loglevel=info